.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
processed-data/01-build_spe/spe_raw.rds
processed-data/02-compute_QC_metrics/
processed-data/03-filter_normalize_spe/spe_filtered_dimRed.rds
processed-data/03-filter_normalize_spe/spe_filtered.rds
processed-data/03-filter_normalize_spe/spe_filtered_dimRed_hdf5/
processed-data/03-filter_normalize_spe/spe_filtered_hdf5/  
processed-data/12_snRNA/*.rda
processed-data/12_snRNA/*.rds
processed-data/12_snRNA/*.Rds
processed-data/12_snRNA/droplet_scores/
processed-data/12_snRNA/sce_DimRed/
processed-data/12_snRNA/sce_clustered/
processed-data/12_snRNA/NMF/*.Rds
processed-data/10_precast/nnSVG_default/*.rds
processed-data/10_precast/nnSVG_precast/*.rds
processed-data/10_precast/nnSVG_precast/random_start_1/*.rds
processed-data/10_precast/nnSVG_precast/random_start_2/*.rds
processed-data/10_precast/nnSVG_precast/random_start_3/*.rds
processed-data/10_precast/nnSVG_precast/random_start_4/*.rds
processed-data/10_precast/nnSVG_precast/random_start_5/*.rds
plots/05_harmony_BayesSpace/07-run_nnSVG

