.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
processed-data/12_snRNA/*.rda
processed-data/12_snRNA/*.rds
processed-data/12_snRNA/*.Rds
processed-data/12_snRNA/droplet_scores/
processed-data/12_snRNA/sce_DimRed/
processed-data/12_snRNA/sce_clustered/
processed-data/12_snRNA/NMF/*.Rds
processed-data/10_precast/nnSVG_default/*.rds
processed-data/10_precast/nnSVG_precast/*.rds
plots/05_harmony_BayesSpace/07-run_nnSVG
