.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
processed-data/01-build_spe/spe_raw.rds
processed-data/02-compute_QC_metrics/
processed-data/03-filter_normalize_spe/spe_filtered_dimRed.rds
processed-data/03-filter_normalize_spe/spe_filtered.rds
processed-data/03-filter_normalize_spe/spe_filtered_dimRed_hdf5/
processed-data/03-filter_normalize_spe/spe_filtered_hdf5/  
processed-data/12_snRNA/*.rda
processed-data/12_snRNA/*.rds
processed-data/12_snRNA/*.Rds
processed-data/12_snRNA/droplet_scores/
processed-data/12_snRNA/sce_DimRed/
processed-data/12_snRNA/sce_clustered/
processed-data/12_snRNA/NMF/*.Rds
processed-data/07_spatial_domains/01_precast/logs/
processed-data/07_spatial_domains/01_precast/nnSVG_default/*.rds
processed-data/07_spatial_domains/01_precast/nnSVG_precast/*.rds
processed-data/07_spatial_domains/01_precast/nnSVG_precast/random_start_1/*.rds
processed-data/07_spatial_domains/01_precast/nnSVG_precast/random_start_2/*.rds
processed-data/07_spatial_domains/01_precast/nnSVG_precast/random_start_3/*.rds
processed-data/07_spatial_domains/01_precast/nnSVG_precast/random_start_4/*.rds
processed-data/07_spatial_domains/01_precast/nnSVG_precast/random_start_5/*.rds
processed-data/08_spot_deconvo/sce.h5ad
processed-data/08_spot_deconvo/sce.rds
processed-data/08_spot_deconvo/spe.h5ad
processed-data/08_spot_deconvo/01_RCTD/SCRef_markers.rds
processed-data/08_spot_deconvo/01_RCTD/SCRef.rds
processed-data/08_spot_deconvo/01_RCTD/*/*.rds
processed-data/16_transfer_learning/01_process_reference/RCppML/human_NAc/go_analysis.rds
plots/05_harmony_BayesSpace/07-run_nnSVG
plots/07_spatial_domains/01_precast/nnSVG_precast/random_start_*/cluster_k_16
plots/07_spatial_domains/01_precast/nnSVG_precast/random_start_*/cluster_k_17
plots/07_spatial_domains/01_precast/nnSVG_precast/random_start_*/cluster_k_18
plots/07_spatial_domains/01_precast/nnSVG_precast/random_start_*/cluster_k_19
plots/07_spatial_domains/01_precast/nnSVG_precast/random_start_*/cluster_k_20
plots/07_spatial_domains/01_precast/nnSVG_precast/random_start_*/cluster_k_21
plots/07_spatial_domains/01_precast/nnSVG_precast/random_start_*/cluster_k_22
plots/07_spatial_domains/01_precast/nnSVG_precast/random_start_*/cluster_k_23
plots/07_spatial_domains/01_precast/nnSVG_precast/random_start_*/cluster_k_24
plots/07_spatial_domains/01_precast/nnSVG_precast/random_start_*/cluster_k_25
plots/07_spatial_domains/01_precast/nnSVG_precast/random_start_*/cluster_k_26
plots/07_spatial_domains/01_precast/nnSVG_precast/random_start_*/cluster_k_27
plots/07_spatial_domains/01_precast/nnSVG_precast/random_start_*/cluster_k_28
plots/16_transfer_learning/02_target_projections/rat_case_control_repeated/*.pdf
plots/16_transfer_learning/02_target_projections/rat_case_control_acute/*.pdf
plots/16_transfer_learning/02_target_projections/rat_case_control_morphine_repeated/*.pdf
plots/16_transfer_learning/02_target_projections/rat_case_control_morphine_acute/*.pdf