*.tif
*.mat
*mri.tgz
*bam
*bam.bai
*h5
analysis
*spatial_enrichment.csv
*cloupe
SPATIAL_RNA_COUNTER_CS
*.gz

Images/VistoSeg/
02_image_stitching/combined_*_adjusted
02_image_stitching/combined_*_initial
05_harmony_BayesSpace/*.rds
05_harmony_BayesSpace/spe_filtered_hdf5*
03_webatlas_tests/work
03_webatlas_tests/0.3.2/*.zarr
03_webatlas_tests/0.3.2/*.h5ad
