*.tif
*.mat
*mri.tgz
*bam
*bam.bai
*h5
analysis
*spatial_enrichment.csv
*cloupe
SPATIAL_RNA_COUNTER_CS
*.gz

Images/VistoSeg/
02_image_stitching/combined_*_adjusted
02_image_stitching/combined_*_initial
05_harmony_BayesSpace/spe.rds
03_webatlas_tests/work
